<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041634000759-bb89ltt50rlt3576vvi5ioppulkmrurn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041634000759-bb89ltt50rlt3576vvi5ioppulkmrurn</string>
	<key>API_KEY</key>
	<string>AIzaSyC8BcRoptN1-gpKLcWeqz3adGeY7aI1e3M</string>
	<key>GCM_SENDER_ID</key>
	<string>1041634000759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SS2022SD.ShareDiary</string>
	<key>PROJECT_ID</key>
	<string>sharediary-a7e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>sharediary-a7e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041634000759:ios:82ef676576d624c69e6b72</string>
</dict>
</plist>